<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Documents</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet">
</head>
<body>
<dl th:object="${document}">
    <dt>Unique number:</dt>
    <dd th:text="*{uniqueNumber}">not defined</dd>
    <dt>Description</dt>
    <dd th:text="*{description}">not defined</dd>
    <a th:href="@{/documents/{id}/delete(id=*{id})}">Delete</a>
    <a href="#" th:href="@{/documents}">Show all documents</a>
</dl>
</body>
</html>